<mat-card class="currencies-container">
    <mat-card-header>
        <mat-card-title>Currencies</mat-card-title>
        <button (click)="openDialog()" mat-raised-button color="primary">
            Subscribe
        </button>
    </mat-card-header>
    <mat-card-content>
        <div class="currency-list" *ngFor="let currency of currencies; let i = index;">
            <div class="currency-list-item">
                <div class="info-block currency-info">
                    <h3>EUR/{{currency._code}}</h3>
                    <p>Following</p>
                </div>
                
                <div class="stock">
                    <div class="card-stock">
                        <div class="info-block">
                            <h3>{{getTodayHistory(currency)?.low ?? '-'}}</h3>
                            <p>Low</p>
                        </div>
                        <div class="info-block">
                            <h3>{{getTodayHistory(currency)?.high ?? '-'}}</h3>
                            <p>High</p>
                        </div>
                    </div>
                    <div class="card-stock yesterday-block">
                        <div *ngIf="getYesterdayHistory(currency)" class="indicator">
                            Yesterday 
                            <span [ngClass]="getTodayHistory(currency).high >= getYesterdayHistory(currency).high ? 'arrow-down' : 'arrow-up'">
                                {{ getTodayHistory(currency).high >= getYesterdayHistory(currency).high ? '&#9660;' : '&#9650;' }}
                            </span>
                        </div>
                        <div class="info-block">
                            <h3>{{getYesterdayHistory(currency)?.low ?? '-'}}</h3>
                            <p>Low</p>
                        </div>
                        <div class="info-block">
                            <h3>{{getYesterdayHistory(currency)?.high ?? '-'}}</h3>
                            <p>High</p>
                        </div>
                    </div>
                </div>
                <div class="action-buttons">
                    <button mat-raised-button color="warn" (click)="unsubscribeTo(currency._code)">
                        Stop following
                    </button>
                </div>
            </div>
            <mat-divider *ngIf="i < currencies.length - 1"></mat-divider>
        </div>
    </mat-card-content>
</mat-card>